.root{
    -fx-background-color: #898E8C;
}
.label{
    -fx-text-fill: #0074D9;
    -fx-font-weight: bold;
    -fx-font-size: 50;
}
#helpL{
    -fx-text-fill: #111111;
    -fx-font-weight: bold;
    -fx-font-size: 22;
}