.root{
    -fx-background-color: #898E8C;
}
.label{
    -fx-text-fill: #111111;
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: #45B8AC;
    -fx-text-fill: #111111;
    -fx-background-radius: 4;
    -fx-font-weight: bold;
}
.menu-button{
    -fx-background-color: #45B8AC;
    -fx-text-fill: #111111;
    -fx-background-radius: 4;
}